.app__gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gallery__title {
    margin-bottom: 0.25rem;
}

.gallery__subtitle {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.gallery__dome-container {
    width: 100%;
    height: 85vh;
    min-height: 500px;
    position: relative;
}